.gnb {
    background: linear-gradient(-180deg, #f53d2d, #f63);
    padding: 10px;
    color: white;
}

.top,
.bottom {
    width: 1200px;
    margin: auto;
}

.top {
    margin-bottom: 10px;
}

.left {
    margin-right: auto;
}

.left > li,
.left > i {
    margin-right: 11px;
    margin-top: -12px;
}

.right {
    margin-left: auto;
}

.right > li {
    margin-right: 10px;
}

.right > li > i {
    margin-right: 5px;
}

.search {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.search-box {
    width: 840px;
    height: 40px;
    background-color: white;
    border-radius: 2px;
    padding: 1px;
}

.search-box > input {
    width: 90%;
    height: 39px;
    margin-right: auto;
    border: none;
    margin-left: 10px;
}

.search-box > button {
    background-color: #fb5533;
    color: white;
    width: 57px;
    height: 38px;
    border: none;
    border-radius: 2px;
    margin-left: 12px;
}

.tags {
    margin-top: 5px;
    width: 840px;
}

.tags > li {
    margin-right: 10px;
}

.tags > li:last-child {
    margin-right: auto;
}

.cart {
    font-size: 24px;
    margin-right: 70px;
    margin-left: 30px;
}

.bottom > img {
    margin-bottom: 10px;
}
